@media (max-width: 1050px) {
  .bank-app {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    max-height: 900px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (max-width: 412px) {
  .bank-app {
    max-width: 360px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .right-block,
  .left-block,
  .edit-balance {
    width: 320px;
  }

  .update-info {
    display: none;
  }

  .block-balance {
    width: 320px;
  }
}

@media (max-height: 920px) {
  .bank-app {
    max-height: 700px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
